<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="ConversionController">
  <head>
    <title>Convert currencies</title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>
    <div class="container-fluid outerdiv">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="span-style">Convert currency</span>
          </div>
        </div>
      </nav>




  <form class="well form-horizontal" id="contact_form">
    <fieldset>

    
      <legend>Converting</legend>
      
       <div class="form-group">
              <label class="col-md-4 control-label"> Amount</label>  
              <div class="col-md-4 inputGroupContainer">
                 <div class="input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                   <input type="number" 
                      class="form-control"  
                      placeholder="Enter value" 
                      data-ng-model="fromValue"
                      data-ng-change="forExConvert()">
                 </div>
              </div>
        </div>

        <div class="form-group"> 
            <label class="col-md-4 control-label">From</label>
              <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select 
                        ng-model="fromType" 
                        class="form-control"  
                        required  
                        data-ng-change="forExConvert()"
                        ng-options="k for (k, v) in rates track by v">
                        <option value="">--Pick a currency--</option>
                       </select>
                </div>
              </div>
        </div>

        <div class="form-group"> 
            <label class="col-md-4 control-label">To</label>
              <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                      <select 
                        ng-model="toType" 
                        class="form-control"  
                        required  
                        data-ng-change="forExConvert()"
                        ng-options="k for (k, v) in rates track by v">
                        <option value="">--Pick a currency--</option>
                      </select>
                </div>
              </div>
        </div>

        
         <div class="form-group">
              <label class="col-md-4 control-label"> gives </label>  
              <div class="col-md-4 inputGroupContainer">
                 <div class="input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input type="text" 
                      class="form-control"  
                      placeholder="Enter value" 
                      data-ng-model="toValue"
                      data-ng-change="forExConvert()">

                 </div>
              </div>
      </div>

      </fieldset>
    </form>
  </div> 
        
    <script src= "js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

